node_modules

# Output
.output
.vercel
.netlify
.wrangler
/app/.svelte-kit
/app/node_modules
/app/build
/app/dist
/backend/models
/backend/embeddings
/backend/__pycache__

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
/app/vite.config.js.timestamp-*
/app/vite.config.ts.timestamp-*
